mixin newsCatalog(item)
	li(class=`news-catalog__item`)
		.img-wrapper
			img(class=`news-catalog__img` src=`${item.upload}`, alt="")
		.content-wrap
			h4(class=`news-catalog__h4`)= item.title
			p(class=`news-catalog__description`)= item.description
			a(class=`news-catalog__link news-catalog__btn` href=`/news-catalog/${item.id}`) Узнать больше
			div(class=`news-catalog__date`)= moment(item.publishDate).format('DD/MM/YYYY')
				i.fa.fa-calendar

mixin pagination(totalNewsCount, limit, currentpage)
	-let i = 0;
	ul.pagination
		if currentpage > 1
			li.pagination__item
				a.pagination__link(href=`/news-catalog?page=${currentpage - 1}&limit=${limit}`)
					span.pagination__previous <
		while i < totalNewsCount/limit
			- i++
			li.pagination__item
				a(class= {'active': `${i}` === currentpage } href=`/news-catalog?page=${i}&limit=${limit}` class='pagination__link' )= i
		if currentpage < totalNewsCount/limit
			li.pagination__item
				a.pagination__link(href=`/news-catalog?page=${++currentpage}&limit=${limit}`)
					span.pagination__next >