mixin textarea(name, value)
    .form-group
        if name === 'description'
            label(for=`${name}`) Описание
            textarea.form-control(name=name, id=`${name}` )&attributes(attributes)= value
        else
            label(for=`${name}`)= name
            textarea.form-control(name=name, id=`${name}`)&attributes(attributes)= value