mixin btnCart(className)
	button(id='cartAddBtn' type="submit").btn.btn-add-cart&attributes(attributes)
		.cart-container
			i(class=`fa fa-cart-plus cart-icon ${className} `)

mixin tabControl(className, items, activeItem)
	ul(class=`${className}__list`)
		-var i = 0
		each item in items
			-i++
			li(class=`${className}__item`  + ' ' + ( (i == activeItem) ? 'active' : '' ) data-tab=`${i}`)
				a(class=`${className}__link` href="#")= item.tabName

mixin tabList(catalog, activeItem)
	ul.catalog__list
		- let i = 0
		each productGroup in catalog
			-i++
			li(class=`catalog__item`  + ' ' + ( (i == activeItem) ? 'active' : '' ) data-list=`${i}`)
				each product in productGroup.products
					a(class=`card__link` href=`/product-catalog/product/${product.alias}`)
						div(class=`card`)
							figure(class=`card__figure`)
								figcaption(class=`card__figcaption`)
									h4(class=`card__title`)= product.title
									span(class=`card__article article`)= `Арт.: ${product.model}`
									ul(class=`card__icon-list`)
										each icon in product.icons
											li(class=`card__icon-item`)
												svg(class=`svg-${icon}-dims card__icon`)
													use(xlink:href=`/img/sprite.svg#${icon}`)
												each item in product.tabel
													if item.icon == icon
														span(class=`card__icon-span`)= item.value
												if icon == 'wallet'
													span(class=`card__icon-span`)= product.price
										li(class=`card__icon-item`)
											+btnCart('cart-icon_black')
									ul(class=`card__marker-list`).marker__list
										li(class=`card__marker-item`).marker__item.new-product Новинка
										li(class=`card__marker-item`).marker__item.best-price Лучшая цена
										li(class=`card__marker-item`).marker__item.week-product Хит продаж
								div(class=`card__img-frame`)
									img(class=`card__img` src=`${product.src}`, alt=`${product.title}`)
					
mixin contacts(className, items)
	div(class=`${className}`)
		ul(class=`${className}__list`)
			each val, key in items
				li(class=`${className}__item`)
					i.fa(class=`fa-${key} ${className}__icon`)
					if key === 'phone'
						a(class=`${className}__link` href=`tel: ${val}`)= val
					else if key === 'envelope'
						a(class=`${className}__link` href=`mailto: ${val}`)= val
					else if key ==='map'
						a(class=`${className}__link` href="https://goo.gl/maps/zH6xpFcrXXM2" data-href="comgooglemaps://?center=50.490185, 30.412841&zoom=14&views=traffic" target="_blank")= val
					else
						a(class=`${className}__link` href="#")= val

mixin cart(items)
	each item in items
		li(class=`cart__item`)
			.cart-img-frame
				img.cart-img(src=`${item.src}`, alt="")
			span.item-name= item.title
			span.item-price= item.price
			span.item-quantity= item.qty
			button.btn.btn_delete
				i.fa.fa-times.close-icon

mixin cartbtn(icon)
	#cart-btn.cart-container
		i(class=`fa fa-${icon} cart-icon`) 
		span#headerCartNum.cart-number


