
mixin leftSideCatalog(productsCatalog)
	ul.products-catalog__list
		each items in productsCatalog
			li.products-catalog__item
				h4.h4= items.productGroup
				ul.product__list
					each products in items.products
						li.product__item
							-let isActive = product.alias === products.alias
							a(class='product__link' href=`${products.alias}` class={'active': isActive })= products.title

mixin product(item)
	div(class=`product-container`)
		input#product(type="hidden", name=`${item.title}` data-price=`${item.price}` data-id=`${item.alias}` data-img=`${item.src}`)
		div(class=`product-img-frame`)
			img(class=`product__img` src=`${item.src}`, alt="")
			+btnCart('cart-icon_white')(class='cart-icon_center')
			.product-price
				span.price-title Цена:
				span.price= item.price
		div(class=`product-property`)
			table(class=`product-property__table`)
				thead.thead
					tr.tr
						td.td Парамметры
						td.td 
				tbody.tbody
					each element in item.tabel
						tr.tr
							each val, key in element
								if key == 'props'
									td.td= val
								if key == 'value' && val != ''
									td.td= val
					//- tr.tr
						td.td Цена
						td.td= item.price
		div(class=`product-description`)
			each p in item.description.p
				p.p= p
			ul.ul= item.description.ul.title
				each li in item.description.ul.li
					li.li= li 
