extends _layout


block content
    h4 Создание продукта
    form(method="post" name='createProduct' enctype='multipart/form-data' ).form-create-product#form-create-product
        .row.my-3.ml-auto
            +button(!product.title ? 'Создать' : 'Сохранить')(type='submit' class='btn-success mr-3')
            if !product.title
                +button('Отменить')(type='reset' class='btn-danger' )
            else 
                +button('Удалить')(href=`/admin/${entity}/${product.id}/delete` class='btn-danger')
        .row
            .col-3
                +input('title', product.title)(type='text' placeholder='Название продукта' class='form-control form-control-sm')
                +input('slug', product.slug)(type='text' placeholder='Slug - имя в адресной строке' class='form-control form-control-sm')
                +input('uploadImg')(type='file' class='form-control-file')
                if product.title
                    img(src=`${product.uploadImg}`, alt="" class='img-thumbnail w-25')
                +select('category', product.category)(size='4')
                +input('model', product.model)(type='text' placeholder='Модель продукта' class='form-control form-control-sm')
                +input('article', product.article)(type='text' placeholder='Артикур продукта' class='form-control form-control-sm')
                +input('price', product.price)(type='text' placeholder='Цена продукта' class='form-control form-control-sm')
                +select('icons', product.icons)
                .form-check.news-publish-checkbox
                    label.form-check-label
                        input.form-check-input(type='checkbox', name='published', id='publish', checked=product.published )
                        | Опубликовать
            .col-9
                //- +editorQuilljs()
                +editor('description', product.description)
                //- +input('description', product.description)(type='hidden')
                .row.mb-2
                    +button('Добавить')(class='btn-primary mr-2', id='add-props')
                    +button('Удалить все')(class='btn-danger ', id='delete-props-table')
                .row
                    table.table
                        thead
                            tr
                                th.text-center Иконка
                                th.text-center Название свойства
                                th.text-center Значение свойства
                                th.text-center
                        tbody
                            +tr(product.properties)
        
        //- .row.my-3.ml-auto
            +button(!product.title ? 'Создать' : 'Сохранить')(type='submit' class='btn-success mr-3')
            if !product.title
                +button('Отменить')(type='reset' class='btn-danger' )
            else 
                +button('Удалить')(href=`/admin/${entity}/${product.id}/delete` class='btn-danger')