
mixin leftSideCatalog(productsCatalog)
	ul.products-catalog__list
		each items in productsCatalog
			li.products-catalog__item
				h4.h4= items.productGroup
				ul.product__list
					each products in items.products
						li.product__item
							a(href=`${products.alias}` class=`product__link` + ' ' + ((idx == '1' && item.active == true) ? "active" : ''))= products.title


mixin product(item)
	div(class=`product-container`)
		div(class=`product-img-frame`)
			img(class=`product__img` src=`${item.src}`, alt="")
		div(class=`product-property`)
			table(class=`product-property__table`)
				thead.thead
					tr.tr
						td.td Парамметры
						td.td 
				tbody.tbody
					each element in item.tabel
						tr.tr
							each val, key in element
								if key == 'props'
									td.td= val
								if key == 'value' && val != ''
									td.td= val
		div(class=`product-description`)
			each p in item.description.p
				p.p= p
			ul.ul= item.description.ul.title
				each li in item.description.ul.li
					li.li= li 
