
mixin leftSideCatalog(categories)
	ul.products-catalog__list
		each category in categories
			li.products-catalog__item
				h4.h4= category.title
				ul.product__list
					each product in category.products
						li.product__item
							-let isActive = urlId === product.id
							a(class='product__link' href=`${product.id}` class={'active': isActive })= product.title

mixin product(item)
	div(class=`product-container`)
		input#production(type="hidden", name=`${item.title}` data-price=`${item.price}` data-id=`${item.id}` data-img=`${item.uploadImg}`)
		div(class=`product-img-frame`)
			img(class=`product__img` src=`${item.uploadImg}`, alt="")
			+btnCart('cart-icon_white')(class='cart-icon_center')
			.product-price
				span.price-title Цена:
				span.price= item.price
		div(class=`product-property`)
			table(class=`product-property__table`)
				thead.thead
					tr.tr
						td.td Парамметры
						td.td 
				tbody.tbody
					each element in item.properties
						tr.tr
							each val, key in element
								if key == 'name'
									td.td= val
								if key == 'value'
									td.td= val
					//- tr.tr
						td.td Цена
						td.td= item.price
		div(class=`product-description`)
			p.p
				pre.p= item.description
			