mixin newsCatalog(className, item)
	li(class=`${className}__item`)
		.img-wrapper
			img(class=`${className}__img` src=`${item.src}`, alt="")
		.content-wrap
			h4(class=`${className}__h4`)= item.title
			p(class=`${className}__description`)= item.desc
			a(class=`${className}__link ${className}__btn` href=`news/${item.id}`) Узнать больше
			div(class=`${className}__date`)= item.date
				i.fa.fa-calendar

mixin pagination(totalNewsCount, limit, currentpage)
	-let i = 0;
	ul.pagination
		if currentpage > 1
			li.pagination__item
				a.pagination__link(href=`/news-catalog?page=${currentpage - 1}&limit=${limit}`)
					span.pagination__previous <
		while i < totalNewsCount/limit
			- i++
			li.pagination__item
				a(class= {'active': `${i}` === currentpage } href=`/news-catalog?page=${i}&limit=${limit}` class='pagination__link' )= i
		if currentpage < totalNewsCount/limit
			li.pagination__item
				a.pagination__link(href=`/news-catalog?page=${++currentpage}&limit=${limit}`)
					span.pagination__next >